:root{
  --font: 'Chau Philomene One', sans-serif;
  /* --background-color: rgb(245, 245, 245); */
  /* --hover-color: rgb(232, 245, 254); */
  /* --border: solid 0.1px  lightgray; */
  }

*{
  box-sizing: border-box;
   font-family: var(--font);
   cursor: pointer;
   overflow: none;
}

.main_section{
  background-color: rgb(245, 245, 245);
  position: absolute;
  width: auto;
  height: auto;
  display: flex;
  flex-flow: column; 
  overflow: none;
  border: springgreen solid 2px;
}


/*ُStart Header*/
.header{
    position: fixed;
    top: 0px;
    height:7%;
    width:100%;
    display:flex;
    flex-flow: row;
    background-color:white;
    
    justify-content: flex-end;
    align-items:center ;
    z-index: 999;

    
}

.site_logo{
    height: 80%;
    width:100px;
    padding-right: 50px;
    margin-left: 50px;
    cursor: pointer;
}

.topnav_searchbox {
    overflow: hidden;
    width: 500px; 
    height:35px;
    border-radius: 8px 0px 0px 8px;
    border: 1px solid #ccc;
    border-right: none;
    text-align: right;
    background-color: rgb(240, 240, 241);
  
  }

  .search_button{
      height: 35px;
      border: 1px solid #ccc;
      border-left: none;
      border-radius: 0px 5px 5px 0px;
  }

  .login_button{
     
      width: 200px;
      height: 35px;
      margin-right: 150px;
      cursor: pointer;
  }

  .divider {
    border-left: 6px solid rgb(128, 0, 96);
    height: 35px;
    align-items:center ;
    margin-right: 8px;
    margin-left: 8px;
  }

  /*ُEnd Header*/

  /*Start Navigation Menu*/
  
  .nav{
    position: fixed;
    top: 47.5px;
    height:50px;
    width:100%;
    
    background-color:white;
    z-index: 998;
    transition: top 0.5s;
    box-shadow: rgb(167, 163, 163)  2px 2px 10px;
  }

  ul {
    list-style-type: none;
    margin-top: -3px;
    padding: 0;
    width:100%;
    display:flex;
    flex-flow: row wrap;
    justify-content: flex-end;
    
   }
  
  li {
    float: right;
    
  }
  
  li a {
    display: block;
    color:gray;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
 
  
    .divider_2 {
    border-left: 6px solid rgb(211, 38, 153);
    height: 20px;
    margin-top: -33px;
    margin-left: 2px;
  }

  .active{
    position: relative;
    display: inline-block;

  }



  .menu_border1{
    width: 1px;
    height: 2px;
    background-color: white;
    position: absolute;
    transition: width,transform 1s;
    left: 50px;
  }

  li:hover .menu_border1{
    background-color: red;
    transform: matrix(100, 0, 0, 1, 0, 0);
    
  }



/*End Navigation Menu*/

 /*Start Main_section1 */

  .main_box{
    position: relative;
    height:100%;
    width:100%;
    display: flex;
    flex-flow: column;
     top:100px;
    
}

  .first_image_section{
      width: 99%;
      height:620px;
      display:flex;
      flex-flow: column;
      
      position: relative;
      align-items: center;
      align-self: center;
  }

 .first_image_section__image_top{
     border-radius: 30px;
     padding-top: 15px;
     width: 99%;
     cursor: pointer;   
 }

 .first_image_section__main{
    width: 99%;
    height:500px;
    display:flex;
    flex-flow: row;
    align-items: center;
    margin-top: 10px;
    /* justify-content: flex-end; */
    
     
}

.first_image_section__main-right{
  width: 65%;
  height:500px;
  justify-content: flex-end;
  cursor: pointer;
  
}

.first_image_section__main-right_image{
width: 98%;
height: 500px;
border-radius: 25px;
margin-top: 0px;
margin-left: 15px;
cursor: pointer;

}

.first_image_section__main-left{
    width: 35%;
    height:500px;
    display:flex;
    flex-flow: column;
    cursor: pointer;
    
}

.first_image_section__main-left_top{
  width: 100%;
  height:250px;
  cursor: pointer;
}

.first_image_section__main-left_top-image{
  width: 100%;
  height: 240px;
  border-radius: 25px;
  margin-top: 0px;
  
  }

.first_image_section__main-left_button{
  width: 100%;
  height:250px;
  cursor: pointer;
}

.first_image_section__main-left_button-image{
  width: 100%;
  height: 245px;
  border-radius: 25px;
  margin-top: 2px;
  cursor: pointer;
  }

.mySlides2 {
   display: none; 
}
  /* Slideshow container */
.slideshow-container {
  max-width: 65%;
  width: 65%;
  position: relative;
  /* margin: auto; */
  /* display: inline-block; */
  margin-top: -28px;
  display: flex;
  flex-flow: column;
  
}

.slideshow-container_img{
  border-color: rgb(107, 185, 39);
}

.slideshow-container_dot{
  margin-top: -50px;
  margin-left: 400px;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-size: 35px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 15px;
  border-radius: 3px 0 0 3px;
}

.prev{
  left: 25px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover{
  margin-left: -4px;
}
.next:hover {
  margin-right: -4px;
}

/* The dots/bullets/indicators */
.dot2 {
  cursor: pointer;
  height: 10px;
  width: 10px;
  margin: 0px 2px;
  background-color: white;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
  z-index: 900;
}

.dot2:hover {
  background-color: skyblue;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .prev, .next,.text {font-size: 11px}
}


/*Start Section 2*/
.section_main2{
  position: relative;
  width: 100%;
  height:500px;
  display:flex;
  flex-flow: row;
  align-items: center;
  margin-top: 120px;
  background-color: rgb(107, 185, 39);

}

.section_main2_right
{
  display: flex;
  flex-flow: column;
  width: 20%;
  height: 500px;
  justify-content: center;
}

.section_main2_left
{
  display: flex;
  flex-flow: row;
  width: 80%;
  height:500px;
  float: left;
  
}

.section_main2_image_right
{
  width: 70%;
  height: 300px;
  margin-top: 2px;
  margin-left: 20px;
  cursor: pointer;
}

.section_main2_right-see_all_button{
  border-radius: 10px;
  height: 40px;
  width: 160px;
  background-color: transparent;
  border:solid white 1px;
  color: white;
  font-size: small;
  font-family: Tahoma,Verdana, Geneva,  sans-serif;
  font-weight: bold;
  margin-top:80px;
  margin-left: 55px;
  cursor: pointer;
}

.section_main2_left_image1{
  width: 24%;
  height: 450px;
  border-radius: 10px;
  margin-top: 25px;
  margin-left: 10px;
  cursor: pointer;
}
/*End Section 2*/

/*Start Section3*/
.section_main3{
  width: 100%;
  height:250px;
  display:flex;
  flex-flow: row;
  align-items: center;
  margin-top: 30px;
 
}

.section_main3_image1{
width: 24%;
height: 240px;
border-radius: 10px;
margin: 7px;
cursor: pointer;
}

/*End Section3*/

/*Start Section 4*/
.section_main4{
  width: 100%;
  height:500px;
  display:flex;
  flex-flow: row;
  align-items: center;
  margin-top: 10px;
  background-color: rgb(239, 57, 78);

}

.section_main4_right
{
display: flex;
flex-flow: column;
width: 20%;
height: 500px;
justify-content: center;
}

.section_main4_left
{
display: flex;
flex-flow: row;
width: 80%;
height:500px;
float: left;

}

.section_main4_image_right
{
width: 70%;
height: 300px;
margin-top: 2px;
margin-left: 20px;
cursor: pointer;
}

.section_main4_right-see_all_button{
border-radius: 10px;
height: 40px;
width: 160px;
background-color: transparent;
border:solid white 1px;
color: white;
font-size: small;
font-family: Tahoma,Verdana, Geneva,  sans-serif;
font-weight: bold;
margin-top:80px;
margin-left: 55px;
cursor: pointer;
}

.section_main4_left_image1{
width: 24%;
height: 450px;
border-radius: 10px;
margin-top: 25px;
margin-left: 10px;
cursor: pointer;
}
/*End Section 4*/

/*Start Section5*/
.section_main5{
  width: 100%;
  height:250px;
  display:flex;
  flex-flow: row;
  align-items: center;
  margin-top: 30px;
  justify-content: space-between ;
 
}

.section_main5_image1{
width: 49%;
height: 240px;
border-radius: 10px;
margin-right: 5px;
margin-left: 5px;
cursor: pointer;
}

/*End Section5*/

/*Start Section6*/
.section_main6
{
  width: 100%;
  height:350px;
  display:flex;
  flex-flow: row;
  align-items: center;
  margin-top: 30px;
  justify-content: space-between ;
  
}

.section_main6_left{
  width: 15%;
  height: 400px;
  border-radius: 10px;
  overflow: hidden;
 margin-right: 5px;
  margin-left: 5px;
  margin-top: 10px;
  background-color: white;
}

.section_main6_right{
  width: 85%;
  border-radius: 10px;
  height: 400px;
  margin-right: 5px;
  margin-left: 10px;
  margin-top: 10px;
  justify-content: center;
  align-items: flex-end;
  display: flex;
  flex-flow: column;
  background-color: white;
}

.section_main6_top{
  width: 100%;
  border-radius: 10px;
  height: 20%;
 text-align: right;
}

.section_main6_top p{
  font-size: x-large;
  padding-right: 30px;
  
}

.section_main6_buttom{
  width: 100%;
  border-radius: 10px;
  height: 80%;
  display: flex;
  flex-flow: row;
}

.section_main6_image_right
{
  width: 24%;
  height: 300px;
  border-radius: 10px;
  padding:5px;
  cursor: pointer;
  margin: 7px;
}

img.section_main6_image_right:hover{
  border:rgb(245, 245, 245) solid 2px;
  box-shadow: lightgray;
}

.section_main6_divider {
  display: flex;
  flex-flow: row;
  margin-top: -40px;
  margin-bottom: 10px;
  }

.section_main6_divider-right {
  border-bottom: 1px solid red;
  height:25px;
  width: 150px;
  float: right;
  margin-right: 30px;
}

.section_main6_divider-left {
  border-bottom: 1px solid lightgray;
  height:25px;
  width: 870px;
  float: right;
  margin-right: 20px;  
  }

.mySlides_time {display: none;}

.img_time {
  vertical-align: middle;
  width: 90%;
  height: 180px;
  padding: 10px;
  
}

/* Fading animation */
.fade_time {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade_time {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade_time {
  from {opacity: .4} 
  to {opacity: 1}
}

.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0px 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
  
}
 /*End Section6*/

 /*Start Section7*/

 .section_main7{
   display: flex;
   flex-flow: column;
   height: 200px;
   width: 99%;
   align-items: center;
   margin-top: 50px;
   align-self: center;
   border-radius: 10px; 
   background-color: white;
 }

 .section_main7_top{
  height: 20%;
  width: 100%;
  
 }

 .section_main7_top > p{
  text-align: center;
  font-weight: bold;
  font-size: 15px;
  color: gray;
  vertical-align: middle;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  }

 .section_main7_bottom{
   display: flex;
   flex-flow: row;
   height: 80%;
   width: inherit;
   
 }

 .section_main7_bottom-inner_section{
   display: flex;
   flex-flow: column;
   height: 95%;
   width: 11%;
   margin:0 5px;
   background-color: white;
 }
 
 .section_main7_bottom-inner_section > img{
  margin-top: 0px;
  height: 50px;
}

 .section_main7_bottom-inner_section > p{
   margin-top: 0px;
   text-align: center;
   font-family: Verdana, Geneva, Tahoma, sans-serif;
   font-size: 14px;
 }

 .section_main7_bottom-inner_section p:nth-child(3){
  text-align: center;
  color: skyblue;
  margin-top: 0;
  font-size: 14px;
 }

 /*End section 7*/

 /*Start Section8*/

.section_main8{
  width: 99%;
  border-radius: 10px;
  height: 400px;
  margin-right: 5px;
  margin-left: 5px;
  margin-top: 10px;
  justify-content: center;
  align-items: flex-end;
  display: flex;
  flex-flow: column;
  background-color: white;
}

.section_main8_top{
  width: 100%;
  border-radius: 10px;
  height: 20%;
 text-align: right;
}

.section_main8_top p{
  font-size: x-large;
  padding-right: 30px;
  
}

.section_main8_buttom{
  width: 100%;
  border-radius: 10px;
  height: 80%;
  display: flex;
  flex-flow: row;
}

.section_main8_image
{
  width: 24%;
  height: 300px;
  border-radius: 10px;
  cursor: pointer;
  margin: 7px;
}

img.section_main8_image:hover{
  border:rgb(245, 245, 245) solid 2px;
  box-shadow: lightgray;
}

.section_main8_divider {
  display: flex;
  flex-flow: row;
  margin-top: -40px;
  margin-bottom: 10px;
  }

.section_main8_divider-right {
  border-bottom: 1px solid red;
  height:25px;
  width: 150px;
  float: right;
  margin-right: 30px;
}

.section_main8_divider-left {
  border-bottom: 1px solid lightgray;
  height:25px;
  width: 1080px;
  float: right;
  margin-right: 20px;  
  }

  /*End Section8*/

  /*Start Section16*/

  .section_main16{
    height: 150px;
    width: 99%;
    margin-top: 15px;
    margin-right: 5px;
    margin-left: 5px;
    border-radius: 10px;
  }
 /*End Section16*/

  /*Start Section19*/

.section_main19{
  width: 99%;
  border-radius: 10px;
  height: 240px;
  margin-right: 5px;
  margin-left: 5px;
  margin-top: 10px;
  justify-content: center;
  align-items: flex-end;
  display: flex;
  flex-flow: column;
  background-color: white;
}

.section_main19_top{
  width: 100%;
  border-radius: 10px;
  height: 20%;
 text-align: right;
}

.section_main19_top p{
  font-size: x-large;
  padding-right: 30px;
  
}

.section_main19_buttom{
  width: 100%;
  border-radius: 10px;
  height: 80%;
  display: flex;
  flex-flow: row;
    
}

.section_main19_image
{
  width: 12%;
  height: 130px;
  border-radius: 10px;
  cursor: pointer;
  margin-left: 100px;
  align-self: center;
}

.section_main19_divider {
  display: flex;
  flex-flow: row;
  margin-top: -10px;
  margin-bottom: 10px;
  }

.section_main19_divider-right {
  border-bottom: 1px solid red;
  height:25px;
  width: 130px;
  float: right;
  margin-right: 30px;
}

.section_main19_divider-left {
  border-bottom: 1px solid lightgray;
  height:25px;
  width: 1100px;
  float: right;
  margin-right: 20px;  
  }

  /*End Section19*/

  /*GoTopButton*/
  .section_go_top_button{
    height: 60px;
    width: 100%;
    border-top: #ccc solid 1px;
    margin-top: 50px;
    
  }

  #topBtn {
    z-index: 99;
    font-size: 18px;
    border: none;
    outline: none;
    background-color: #ccc;
    color: white;
    cursor: pointer;
    padding: 15px;
    border-radius: 4px;
    margin-left: 45%;
    margin-right: 40%;
    margin-top: 5px;
  }
  
  #topBtn:hover {
    background-color: #555;
  }
   /*End GoTopButton*/

   /*Start Footer Main*/

   .footer_main{
     display: flex;
     flex-flow: column;
     height: auto;
     width: 100%;
   }

   .footer_1{
    display: flex;
    flex-flow: row;
    height: 150px;
    width: inherit;
    background-color: 	rgb(236, 239, 241);
    justify-content: space-around;
   }
   
   
   .footer_2{
    display: flex;
    flex-flow: row;
    height: 350px;
    width: 100%;
    justify-content: flex-end;
    background-color: 	rgb(236, 239, 241);
    margin-top: -9px;
  }

  .footer_2-purchase_guide
  {
   display: flex; 
   flex-flow: column;
   width: 20%;
   height: 200px;
   margin-right: 30px;
   text-align: right;
   margin-top: 20px;
  }

  .footer_2-purchase_guide li:nth-child(1){
    font-weight: bold;
    font-family: Tahoma,sans-serif, Verdana, Geneva;
    font-size: 14px;
    margin-bottom: 25px;
  }

  .footer_2-purchase_guide > li{
    
    font-family: Tahoma,sans-serif, Verdana, Geneva;
    margin-bottom: 25px;
    font-size: 14px;
  }

  .footer_2-Customer_service
  {
    display: flex; 
    flex-flow: column;
    width: 15%;
    height: 200px;
    margin-right: 15px;
    text-align: right;
    margin-top: 105px;
   }

.footer_2-Customer_service li:nth-child(1){
    font-weight: bold;
    font-family: Tahoma,sans-serif, Verdana, Geneva;
    font-size: 14px;
    margin-bottom: 25px;
  }

  .footer_2-Customer_service > li{
    
    font-family: Tahoma,sans-serif, Verdana, Geneva;
    margin-bottom: 25px;
    font-size: 14px;
  }


   .footer_2-with_digikala{
    display: flex; 
    flex-flow: column;
    width: 15%;
    height: 200px;
    margin-right: 100px;
    text-align: right;
    margin-top: 143px;
   }

   .footer_2-with_digikala li:nth-child(1){
    font-weight: bold;
    font-family: Tahoma,sans-serif, Verdana, Geneva;
    font-size: 14px;
    margin-bottom: 25px;
   }

   .footer_2-with_digikala > li{
    
    font-family: Tahoma,sans-serif, Verdana, Geneva;
    margin-bottom: 25px;
    font-size: 14px;
  }

   .footer_2-social_network{
     display: flex;
     flex-flow: column;
     width: 40%;
     
   }

   .footer_2-social_network > p {
     font-family: Verdana, Geneva, Tahoma, sans-serif;
     font-weight: 200;
     text-align: right;
     margin-right: 120px;
     margin-top: 40px;
   }

   .footer_2-social_network > form{
     margin-left: 50px;
     
   }

   .footer_2-social_network input:first-child{
     height: 40px;
     width: 70px;
     border-radius: 10px 0px  0px 10px;
     background-color: 	rgb(0, 191, 214);
     border: none;
     color: white;
     font-size: 18px;
     
   }
   
   .footer_2-social_network input:nth-child(2){
    height: 40px;
    width: 290px;
   }

   .footer_2-social_network_icon{
    display: flex;
    flex-flow: row;
    margin-left: 250px;
        
   }

   .footer_2-social_network_icon > i {
     margin-left: 25px;
   }

  .footer_3{
     display: flex;
     flex-flow: column;
    background-color: rgb(236, 239, 241);;
    margin-top: -9px;
  }

  .footer_3-contact_us{
    display: flex;
    flex-flow: row;
    justify-content: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16px;
    font-weight: bold;
  }

.footer_3 > img{
  width: 45%;
  margin-left: 350px;
}

  .footer_4{
     display: flex;
     flex-flow: row;
     margin-top: 0px;
     background-color: #d7dee0;
  }

  .footer_4_right{
    text-align: justify;
    text-align-last: right;
    width: 60%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding-right: 60px;
    font-size: 15px;
    margin-top: 20px;
    
  }
  
  #more {display: none;}

  .footer_4_left{
    margin-left: 80px;
    width: 40%;
    margin-top: 20px;
  }

  .footer_4_left > img{
    height: 120px;
    width: 120px;
    margin: 5px;
  }

  .footer_5{
    background-color: #d7dee0;
     display: flex;
     flex-flow: row;
     margin-top:  0px;
     justify-content: flex-end;
     height: 80px;
  }

  .footer_5 > img{
    
    margin-top:5px;
    margin-right: 100px;
  }

.footer_devider{
  margin-top: -2px;
  border-top: 1px solid rgb(203, 213, 216);
  width: 90%;
}

.footer_6{
  height: 70px;
  background-color: #d7dee0 ;
  margin-top: -9px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-align: center;
  padding-top: 15px;
}